main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    font-weight: 400;
}

.en-savoir-plus {
    padding: .25rem 2.5rem;
    background: #ba83f0;
    border-radius: 10px;
    margin: 2rem 0 4rem 0;
    transition: .2s;
}

.en-savoir-plus:hover {
    transform: scale(1.1);
}

/* ------------------------------ EARTH DAY EVERY DAY ------------------------------*/
.top-illustration {
    display: flex;
}

.top-illustration img {
    width: 300px;
}

.top-illustration img:first-child {
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
}

.top-illustration img:last-child {
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}

/* ------------------------------ Changement forme txt ------------------------------*/
.yello-txt {
    color: #f5f6aa !important;
}

.size-txt {
    font-size: 1.25rem !important;
}

.valeurs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    max-width: 1100px;
    width: 100%;
    margin-top: 4rem;
    padding: 0 1.5rem;
}

.valeurs-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 1100px;
    width: 100%;
}

.principe {
    display: flex;
    align-items: center;
    font-size: .9rem;
    margin-bottom: 1.25rem;
    text-align: justify;
}

.programmes {
    padding: 0 1.5rem;
    width: 1100px;
}

.programme {
    max-width: 1100px;
    width: 100%;
}

.desc-programmes {
    display: flex;
    margin-bottom: 6.5rem;
}

.desc-programmes .desc {
    color: #f5f6aa !important;
    font-size: 1.25rem !important;
}

.desc-programmes .lien-programmes {
    color: #e77754 !important;
    font-size: 1.1rem;
    margin-left: 3rem;
}

.programme-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
}

.programme-img img {
    width: 1000px;
    border-radius: 75px;
}

.repere {
    margin-top: 4rem;
}

.repere:first-child {
    margin-top: 0 !important;
}

@media only screen and (max-width: 1100px) {

    /* ------------------------------ EARTH DAY EVERY DAY ------------------------------*/
    .top-illustration img {
        width: 300px;
    }
    
    .top-illustration img:nth-child(2) {
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
    }

    .top-illustration img:last-child {
        display: none;
    }
}

@media only screen and (max-width: 800px) {

    h1 {
        text-align: center;
        width: auto;
        padding: 1rem;
    }
}

@media only screen and (max-width: 630px) {

    /* ------------------------------ EARTH DAY EVERY DAY ------------------------------*/
    .top-illustration img {
        max-width: 300px;
        width: 100%;
        padding: 0 1rem;
    }
    
    .top-illustration img:first-child {
        border-radius: 100px;
    }

    .top-illustration img:nth-child(2) {
        display: none;
    }

    .top-illustration img:last-child {
        display: none;
    }

    .img-principes img {
        border-radius: 200px;
        max-width: 560px;
        width: 100%;
    }
}