.titre-partie-legle {
    text-align: center;
    font-size: 2rem;
}

.boutons-partie-legale {
    display: flex;
    align-items: normal;
    justify-content: center;
    margin: 2rem .5rem 8rem .5rem;
}

.bouton-partie-legale {
    margin: .5rem 1rem .5rem 1rem;
}

/* -------------------- CGU -------------------- */
.repere-CGU {
    position: absolute;
    top: 300px;
}

.CGU {
    margin-top: 5rem;
}

.articles {
    max-width: 1000px;
    width: 100%;
    margin-top: 8rem;
    padding: 1.5rem;
}

.article {
    margin-bottom: 5rem;
}

.titre-article {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.texte-article {
    text-align: justify;
    padding-left: 1rem;
}

.texte-article ul {
    margin: 2rem 0 2rem 3rem;
}

.texte-article li {
    list-style : initial !important;
}

/* -------------------- CGV -------------------- */
.CGV {
    margin: 10rem 5rem 4rem .5rem;
}

.repere-CGV {
    position: absolute;
    top: 3300px;
}

/* -------------------- Mention icônes -------------------- */
.repere-icones {
    position: absolute;
    top: 7050px;
}

.title-mention-icone {
    max-width: 1000px;
    width: 100%;
    text-align: center;
    margin: 0 0 6rem 0;
    font-size: 2rem;
}

.mention-icones {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 6rem;
    max-width: 1000px;
    padding: 1.5rem;
    width: 100%;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 2rem 0;
}

.icone img {
    width: 45px;
}

.icone .mention {
    margin-left: 2rem;
}

/* -------------------- Mention image -------------------- */
.repere-images {
    position: absolute;
    top: 7700px;
}

.title-mention-image {
    max-width: 1000px;
    width: 100%;
    text-align: center;
    margin: 0 0 6rem 0;
    font-size: 2rem;
}

.mention-images {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 6rem;
    max-width: 1000px;
    padding: 1.5rem;
    width: 100%;
}

.image {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 2rem 0;
}

.image img {
    width: 125px;
}

.image .mention {
    margin-left: .75rem;
}

.mention a {
    text-decoration: underline;
}

.mention a:hover {
    text-decoration: none;
}