.articles {
    max-width: 1000px;
    width: 100%;
    margin-top: 8rem;
    padding: 1.5rem;
}

.article {
    margin-bottom: 5rem;
}

.titre-article {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.texte-article {
    text-align: justify;
    padding-left: 1rem;
}

.texte-article ul {
    margin: 2rem 0 2rem 3rem;
}

.texte-article li {
    list-style : initial !important;
}