.articles {
    max-width: 1000px;
    width: 100%;
    margin-top: 8rem;
    padding: 1.5rem;
}

.article {
    margin-bottom: 5rem;
}

.titre-article {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.texte-article {
    text-align: justify;
    padding-left: 1rem;
}

.texte-article ul {
    margin: 2rem 0 2rem 3rem;
}

.texte-article li {
    list-style : initial !important;
}

/* -------------------- Mention icônes -------------------- */
.title-mention-icone {
    max-width: 1000px;
    width: 100%;
    text-align: center;
    margin: 0 0 6rem 0;
    font-size: 2rem;
}

.mention-icones {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 6rem;
    max-width: 1000px;
    padding: 1.5rem;
    width: 100%;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 2rem 0;
}

.icone img {
    width: 45px;
}

.icone .mention {
    margin-left: 2rem;
}

/* -------------------- Mention icônes -------------------- */
.title-mention-image {
    max-width: 1000px;
    width: 100%;
    text-align: center;
    margin: 0 0 6rem 0;
    font-size: 2rem;
}

.mention-images {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 6rem;
    max-width: 1000px;
    padding: 1.5rem;
    width: 100%;
}

.image {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 2rem 0;
}

.image img {
    width: 125px;
}

.image .mention {
    margin-left: 2rem;
}

.mention a:hover {
    text-decoration: underline;
}