/* ------------------------------ HEADER ------------------------------*/
.menu-exposition {
    border-top: solid 1px #ba83f0;
}

.AF-repere {
    position: absolute;
    left: 0;
    top: 0;
}

.separation {
    margin-top: 8rem;
}

.valeurs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 6rem;
    padding: 0 1.5rem;
}

.valeurs-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 900px;
    width: 100%;
}

.principe {
    display: flex;
    align-items: center;
    font-size: .9rem;
    margin-bottom: 1.25rem;
    text-align: justify;
}

.ml-principe {
    margin-left: 2rem;
}

.etudiant {
    margin-top: 8rem;
}

.carousel-wrapper {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

.carousel-container {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    width: 98vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
    margin-top: 4rem;
}

.carousel {
    position: absolute;
    width: 400px;
    height: 400px;
    padding: 1rem .5rem .5rem .5rem;
    background-color: #161515;
    box-shadow: 0px 0px 5px #dba32f;
    border-radius: 15px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 240px 106px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.carousel .titre-carousel {
    text-align: center;
}

.description {
    width: 384px;
    padding: 0 1.5rem;
}

.carousel p {
    text-align: justify;
}   

.carousel img {
    width: 325px;
}

.img-carousel {
    width: 392px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel:nth-of-type(1) {
    --offset: 1;
}

.carousel:nth-of-type(2) {
    --offset: 2;
}

.carousel:nth-of-type(3) {
    --offset: 3;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked~.carousel-container {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

input:nth-of-type(2):checked~.carousel-container {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}

input:nth-of-type(3):checked~.carousel-container {
    --position: 3;
}

.carousel-wrapper input[type="radio"] {
    cursor: pointer;
}

.carousel-book-wrapper {
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #dba32f;
    margin: 6rem 0 4rem 0;
}

.carousel-book-container {
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.carousel-book {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: start;
}

.carousel-book.active-carousel-book {
    display: flex;
    /* Affiche uniquement la page active */
}

.carousel-book img {
    height: 480px;
    cursor: zoom-in;
}

.carousel-book-buttons {
    display: flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;
}

.carousel-book-buttons button {
    width: 85px;
    border: none;
    background: none;
    transition: .15s;
}

.carousel-book-buttons button img {
    width: 50px;
    transition: .15s;
}

.carousel-book-buttons button img:hover {
    transform: scale(1.15);
}

input[type='radio'] {
    width:18px;
    height:18px;
    border:1px solid #ba83f0;
    accent-color: #ba83f0;
    margin: 0 .5rem 0 .5rem;
}   

.carousel-book-titre {
    text-align: center;
    margin-bottom: .75rem;
}

div.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9998;
}
    
div.overlay img {
    height: 95vh;
    cursor: zoom-out;

}
  
.page-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.etudiants-repere {
    position: absolute;
    top: 1500px;
}

@media only screen and (max-width: 1200px) {
    .menu-exposition {
        border-top: solid 1px #1d1919;
    }
}

@media only screen and (max-width: 500px) {

    .carousel {
        width: 300px;
        height: 450px;
        padding: 1rem .5rem .5rem .5rem;
    }

    .carousel .titre-carousel {
        text-align: center;
    }
    
    .description {
        width: 284px;
        padding: 0 1.5rem;
    }
    
    .carousel p {
        text-align: justify;
    }   
    
    .carousel img {
        width: 225px;
    }
    
    .img-carousel {
        width: 292px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-book-container {
        width: 300px;
        height: 400px;
    }
    
    .carousel-book img {
        height: 380px;
    }
    
    .carousel-book-buttons {
        width: 300px;
    }
    
    .carousel-book-buttons button img:hover {
        transform: scale(1);
    }
        
    div.overlay img {
        width: 95vw;
        height: auto;
    }
}

@media only screen and (max-width: 400px) {
    
    .carousel {
        width: 250px;
        height: 450px;
        padding: 1rem .5rem .5rem .5rem;
        grid-template-rows: 30px 200px 146px;
    }
    
    .carousel .titre-carousel {
        text-align: center;
    }
    
    .description {
        width: 234px;
        padding: 0 1.5rem;
    }
    
    .carousel p {
        text-align: justify;
    }   
    
    .carousel img {
        width: 175px;
    }
    
    .img-carousel {
        width: 242px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .carousel-book-container {
        width: 250px;
        height: 350px;
    }
    
    .carousel-book img {
        height: 330px;
    }
    
    .carousel-book-buttons {
        width: 250px;
    }
    
    .carousel-book-buttons button img:hover {
        transform: scale(1);
    }
    
    div.overlay img {
        width: 95vw;
        height: auto;
    }
}

@media only screen and (max-width: 300px) {
.carousel-book-container {
    width: 200px;
    height: 300px;
    }
    
    .carousel-book img {
        height: 280px;
    }
    
    .carousel-book-buttons {
        width: 200px;
    }
    
    .carousel-book-buttons button img:hover {
        transform: scale(1);
    }
        
    div.overlay img {
        width: 95vw;
        height: auto;
    }
}