form {
    display: flex;
    flex-direction: column;
    width: 315px;
    color: #000000 !important;
    margin-bottom: 8rem;
}

select,
input {
    margin: 10px 0 3rem 0;
}

select,
input,
textarea {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: #272323;
    color: #ffffff !important;
    outline: 0;
    width: 315px;
}

#champsQuestion,
#champsDevis,
#champsNbEleve,
#ChampsPrix,
#prixEstime {
    display: none;
}

#prixEstime {
    margin: 0 0 3rem 0;
}

option {
    background: #272323;
    color: #ffffff !important;
}

.compteur {
    font-size: 12px;
    margin-bottom: 10px;
    color: #a7a7a7 !important;
}

input[type="submit"] {
    width: 315px;
    background-color: #ba83f0;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff !important;
    font-size: 1.25rem;
    transition: .2s;
}

input[type="submit"]:hover {
    transform: scale(1.1);
}

h1 {
    margin-bottom: 5rem;
}

h2 {
    font-size: 1rem;
    font-weight: 300;
    margin: 2rem 0;;
    text-align: center;
}

.message-mail {
    text-align: center;
}

@media only screen and (max-width: 330px) {
    form {
        width: 250px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 280px) {
    form{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    form,
    label,
    select {
        width: 200px;
    }
}