.humour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

/* ------------------------------ HEADER ------------------------------*/
.humour .menu-humour{
    border-top: solid 1px #ba83f0;
}

/* ------------------------------ ILLUSTRATION ------------------------------*/
.humour .top-illustration {
    display: flex;
    padding: 2rem;
}

.humour .top-illustration img {
    width: 1000px;
    border-radius: 100px;
}

.humour .valeurs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    max-width: 800px;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 6rem;
    padding: 0 1.5rem;
}

.humour .valeurs-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 800px;
    width: 100%;
}

.humour .principe {
    display: flex;
    align-items: center;
    font-size: .9rem;
    margin-bottom: 1.25rem;
    text-align: justify;
}

.titre-humour {
    margin-bottom: 1.5rem;
}

.principe.club-humour {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media only screen and (max-width: 1200px) {
    .humour .menu-humour{
        border-top: solid 1px #1d1919;
    }
}

@media only screen and (max-width: 900px) {
    .humour .top-illustration img {
        max-width: 800px;
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .humour .top-illustration img {
        border-radius: 75px;
    }
}

@media only screen and (max-width: 350px) {
    .humour .top-illustration img {
        border-radius: 50px;
    }
}
