/* ------------------------------ HEADER ------------------------------*/
.menu-acceuil {
    border-top: solid 1px #ba83f0;
}

/* ------------------------------ EARTH DAY EVERY DAY ------------------------------*/
.top-illustration {
    display: flex;
}

.top-illustration img {
    width: 800px;
    border-radius: 200px;
}

.global-bouton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bouton {
    width: 210px;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background: #ba83f0;
    border-radius: 15px;
    margin: 2rem 0 4rem 0;
    transition: .2s;
}

.bouton:hover {
    transform: scale(1.1);
}

.bouton:first-child {
    margin-right: 1rem;
    margin-left: 1rem;
}

.bouton:last-child {
    margin-right: 1rem;
    margin-left: 1rem;
}


.valeurs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    max-width: 600px;
    width: 100%;
    margin-top: 4rem;
    padding: 0 1.5rem;
}

.valeurs-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 900px;
    width: 100%;
}

.principe {
    display: flex;
    align-items: center;
    font-size: .9rem;
    margin-bottom: 1.25rem;
    text-align: justify;
}

.img-principes {
    display: flex;
    margin: 5rem 0 6rem 0;
}

.img-principes img {
    width: 800px;
    border-radius: 200px;
}

.pensee {
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.penser-climat {
    margin-bottom: 5rem;
}

.valeur {
    margin: 2rem 0;
    font-size: .9rem;
}

.penser-le-climat {
    margin-bottom: 2rem;
}
.sl {
    flex-direction: column;
}

/* ------------------------------ COMPTEUR ------------------------------*/
.global-countdown {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem 0 6rem 0;
    padding: 4rem;
    border-radius: 20px;
    background: #ecdcce;
}

.countdown {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.countdown-top {
	display: flex;
}

.countdown-bottom {
	display: flex;
}

.countdown-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 .5rem;
}

.time,
.separateur {
	font-size: 1.25rem;
}

.unit {
	font-size: .9rem;
    color: #225d1b !important;
    font-weight: 700;
}

.bouton-unresponsive {
    display: block !important;
}

.bouton-responsive {
    display: none !important;
}

@media only screen and (max-width: 1200px) {
    .menu-acceuil {
        border-top: solid 1px #1d1919;
    }

    .bouton-unresponsive {
        display: none !important;
    }
    
    .bouton-responsive {
        display: block !important;
    }
}

@media only screen and (max-width: 1100px) {

    /* ------------------------------ EARTH DAY EVERY DAY ------------------------------*/
    .top-illustration img {
        width: 600px;
        border-radius: 200px;
    }
}

@media only screen and (max-width: 850px) {
    .img-principes img {
        width: 700px;
    }
}

@media only screen and (max-width: 800px) {

    h1 {
        text-align: center;
        width: auto;
        padding: 1rem;
    }
}

@media only screen and (max-width: 750px) {
    .img-principes img {
        width: 600px;
    }
}

@media only screen and (max-width: 630px) {

    /* ------------------------------ EARTH DAY EVERY DAY ------------------------------*/
    .top-illustration img {
        max-width: 500px;
        width: 100%;
        padding: 0 1rem;
        border-radius: 200px;
    }

    .img-principes img {
        border-radius: 200px;
        max-width: 560px;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .countdown {
        display: flex;
		flex-direction: column;
	}
	
	.countdown-top {
        display: flex;
		margin-bottom: .4rem;
	}
	
	.countdown-bottom {
        display: flex;
		margin-top: .4rem;
	}
}

@media only screen and (max-width: 500px) {
    .global-countdown {
        padding: 1rem;
    }
}