main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding: 0 1rem;
}

.en-savoir-plus {
    padding: .25rem 2.5rem;
    background: #ba83f0;
    border-radius: 10px;
    margin: 2rem 0 4rem 0;
    transition: .2s;
}

.en-savoir-plus:hover {
    transform: scale(1.1);
}

/* ------------------------------ Changement forme txt ------------------------------*/
.orange-txt {
    color: #e77754 !important;
}

.size-txt {
    font-size: 1.25rem !important;
}

.size-txt2 {
    font-size: 2rem !important;
}

.font-weight {
    font-weight: 700 !important;
}

.font-family {
    font-family: 'Fugaz One', cursive !important;
}

h2 {
    font-weight: 500;
    margin-bottom: 2rem;
}

h3 {
    font-weight: 400;
    margin-bottom: 2rem;
}

.inscription {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
    padding: 0 2rem;
}

.exposition {
    margin-top: 10rem;
}

.humour {
    margin-top: 10rem;
}

.social-club {
    margin-top: 10rem;
}

.tarif-pro h3 {
    margin-top: 3rem;
}

.description {
    padding-left: 1.5rem;
}

.bouton-inscription {
    display: flex;
    width: 12rem;
    padding: 1rem;
    background: #ba83f0;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.bouton-inscription:hover {
    transform: scale(1.1);
}


.tarif-public, 
.tarif-pro, 
.exposition, 
.humour, 
.social-club {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desc{
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 0 1.5rem 0 0;
    text-align: justify;
}

@media only screen and (max-width: 1100px) {
    .desc{
        display: flex;
        flex-direction: column;
        width: 600px;
    }
}

@media only screen and (max-width: 900px) {
    .desc{
        display: flex;
        flex-direction: column;
        max-width: 400px;
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .tarif-public, 
    .tarif-pro, 
    .exposition, 
    .humour, 
    .social-club {
        display: flex;
        flex-direction: column;
    }

    .desc{
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .social-club .desc {
        text-align: justify !important;
    }
    
    .bouton-inscription {
        margin: 2.5rem 0 6rem 0;
    }
    
    .tarif-pro h3 {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 350px) {
    .inscription {
        padding: 0 1rem;
    }

    .desc{
        padding: 0;
    }

    .description {
        padding-left: 1rem;
    }
}