/* -------------------------------------------------------------------------------- */
/* ------------------------------------- Page ------------------------------------- */
/* -------------------------------------------------------------------------------- */

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
	border-style: border-box;
	list-style : none;
	text-decoration: none;
	font-family: 'Inter', sans-serif;
	color: #fff;
}

*::selection {
    color: #000;
    background: #fbca38;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #161515;
}

.scrollUp {
    position: fixed;
    bottom : 15px;
    right: -100px;
    opacity: 0.5;
	transition: .2s;
    
}
.scrollUp:hover {
	opacity: 1;
}

.scrollUp img {
	max-width: 3rem;
	width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding: 0 1.5rem;
}

.yello-txt {
    /* color: #f5f6aa !important; */
    color: #dbb254 !important;
}

.size-txt {
    font-size: 1.25rem !important;
}

.orange-txt {
    color: #e77754 !important;
}

.size-txt2 {
    font-size: 2rem !important;
}

.font-weight {
    font-weight: 700 !important;
}

.font-family {
    font-family: 'Fugaz One', cursive !important;
}

.separation {
	height: 1px;
	width: 55vw;
	border-top: 1px solid #534946;
}

/* -------------------------------------------------------------------------------- */
/* ----------------------------------- Nav bar ------------------------------------ */
/* -------------------------------------------------------------------------------- */

header {
	position: fixed;
	width: 100vw;
	background: #161515;
	z-index: 10;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: start;
}

.menu-burger {
	display: none;
}

.arrow-menu-burger {
	display: none;
}

.img-logo {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0 0 10px;
	z-index: 10;
}

.img-logo img {
	max-width: 125px;
}

.nav-list {
	display: flex;
	justify-content: center;
	align-items: start;
	padding: 2rem 0;
}

.nav-item {
	transition: .2s;
	border-top: solid 1px #161515;
	padding-top: .5rem;
	margin: 0 1.5rem;
}

.nav-item:hover {
	border-top: solid 1px #ba83f0;
}

.nav-item:last-child:hover {
	border-top: solid 1px #161515;
}

.nav-item:last-child {
	padding: 0rem 3rem;
	position: absolute;
	right: 1rem;
}

.nav-item a {
	color: #fff;
	font-size: 1rem;
	font-family: 'Inter', sans-serif;
	padding: 1rem 1rem .5rem 1rem;
}

.language {
	display: flex;
	justify-content: center;
	align-items: start;
}

.nav-item-language {
	transition: .2s;
	border-top: solid 1px #161515;
	padding-top: .5rem;
	margin: 0 .5rem;
}

.nav-item-language:hover {
	border-top: solid 1px #ba83f0;
}

.nav-item-language a {
	color: #fff;
	font-size: 1rem;
	padding: .5rem .75rem;
}

.active {
	border-top: solid 1px #ba83f0;
}

.sub-menu {
	display: none;
	flex-direction: row;
	position: absolute;
	left: 0;
	top: 110;
	width: 100vw;
	padding: 1rem 1rem 1rem 0;
	background: #161515;
	/* background: #1d1919; */
	align-items: center;
	justify-content: center;
	/* background: #fff; */
}

.sub-nav-item {
	margin: .5rem 3rem;
	padding: .5rem 0;
}

.sub-menu a {
	padding: 0 0 0 1rem;
}

.sub-menu a:hover {
	color: #ddd !important;
}

.responsive {
	display: none;
}

.unresponsive {
	display: block;
}

.nav-item:hover .sub-menu {
	display: flex;
}

.search {
    display: flex;
	width: 40px;
	height: 40px;
    flex-direction: column;
}

.display {
    visibility: visible !important;
}

.activeSearch {
    border-top: solid 1px #ba83f0 !important;
}

.search-icon {
	position: absolute;
	z-index: 5;
	top: 35px;
    width: 35px;
    padding: .25rem;
    margin-bottom: 1rem;
    transition: .25s;
}

.search-container {
    visibility: hidden;
    position: relative;
    display: inline-block;
}

.search-container input {
    background: #161515;
	border-radius: 10px;
}
  
#search-input {
	margin-top: 3rem;
    padding: 10px;
    width: 300px;
}

#suggestions-list {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 0;
    width: 300px;
    background: #161515;
    border: 1px solid #5c5c5c;
	border-radius: 15px;
}

#suggestions-list li {
    padding: 10px;
    cursor: pointer;
	border-radius: 15px;
}

#suggestions-list li:hover {
    background-color: #896f26;
}

/* -------------------------------------------------------------------------------- */
/* ------------------------------------ Main -------------------------------------- */
/* -------------------------------------------------------------------------------- */

main {
	padding: 12rem 0 0 0;
}

.en-savoir-plus {
    width: 210px;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background: #ba83f0;
    border-radius: 15px;
    margin: 2rem 0 4rem 0;
    transition: .2s;
}

.en-savoir-plus:hover {
    transform: scale(1.1);
}

/* -------------------------------------------------------------------------------- */
/* ----------------------------------- Footer ------------------------------------- */
/* -------------------------------------------------------------------------------- */

.top {
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid rgb(83, 73, 70);
	padding: .5rem 1.5rem .75rem 1.5rem;
	justify-content: space-around;
	align-items: center;
}

.left,
.center,
.right {
	margin: 3rem 1rem;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.center img {
	width: 150px;
	border-radius: 50%;
}

.lien-utile {
	display: flex;
	flex-direction: column;
}

.lien-utile-item {
	padding: .5rem 1rem;
}

.lien-utile-item a:hover {
	color: #ffc5b5 !important;
}

.lien-utile-item:first-child {
	color: #e77754;
	font-size: 2rem;
	font-family: 'Fugaz One', cursive;
}

.label {
	font-size: 2rem;
}

.label .txt {
	margin-bottom: 1.5rem;
}

.line {
	margin: 0 4vw 1.5rem 4vw;
	border-top: 1px solid rgb(83, 73, 70);
}

.legal {
	padding: 0 1rem 1.5rem 0;
	margin-left: 4.5vw;
}

.legal a {
	text-align: start;
}

.legal a:hover {
	text-decoration: underline;
}

.global-counter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}

.counter {
	text-align: center;
	font-size: 1.75rem;
}

/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------- Break Points ---------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

@media only screen and (max-width: 1500px) {
	/* --------------------- Header ----------------------- */
	.nav-item {
		padding-top: .5rem;
		margin: 0 1rem;
	}

	.nav-item a {
		padding: 0 1rem;
	}
	
	/* --------------------- Footer ----------------------- */
	.we-can-do-it-img {
		width: 10vw;
		border-radius: 5vw;
	}

	.bandeau-contact {
		margin-top: 3vh;
	}

}

@media only screen and (max-width: 1400px) {
	/* --------------------- Header ----------------------- */
	.nav-item {
		padding-top: .5rem;
		margin: 0 .75rem;
	}

	.nav-item a {
		padding: 0 .75rem;
	}
	
	.nav-item:last-child {
		padding: 0rem 1.5rem;
		right: 0rem;
	}
	
	.nav-item-language {
		padding-top: .5rem;
		margin: 0 .5rem;
	}
	
}

@media only screen and (max-width: 1000px) {
	/* --------------------- Header ----------------------- */
	
	/* -- menu burger -- */

	header {
		position: initial;
		width: 97vw;
		background: none;
	}

	.nav {
		display: flex;
		justify-content: flex-start;
		align-items: start;
		margin-bottom: 4rem;
	}

	.menu-burger {
		display: block;
		border: none	;
		background: none;
		position: absolute;
		top: 15px;
		left: 15px;
	}

	.menu-burger img {
		width: 40px;
	}

	.arrow-menu-burger {
		display: block;
		border: none	;
		background: none;
		position: absolute;
		top: 15px;
		left: 225px;
	}

	.arrow-menu-burger img {
		width: 40px;
	}
	
	.img-logo {
		position: initial;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1rem;
		z-index: 0;
	}
	
	.nav-list {
		width: 286px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: start;
		padding: 2rem 1.5rem 100vh 2rem;
		position: absolute;
		top: 0;
		left: -20rem;
		transition: .25s;
		background: #1d1919;
	}
	
	.nav-item {
		padding: .75rem 0;
		border-top: none;
		transition: 0;
		border-top: solid 1px #1d1919;
	}

	.menu-inscription {
		padding: 1.5rem 0 3rem 0 !important;
	}
	
	.nav-item:hover {
		border-top: none;
	}
	
	.nav-item:last-child:hover {
		border-top: none;
	}
	
	.nav-item:last-child {
		padding: 0;
		position: absolute;
		top: 30rem;
		left: -55px;
	}

	.responsive {
		display: block;
	}

	.unresponsive {
		display: none;
	}
	
	.nav-item-language {
		padding-top: .5rem;
		margin: 0 .5rem;
		transition: .2s;
		border-top: none;
		border-top: solid 1px #1d1919;
	}
	
	.nav-item-language:hover {
		border-top: none;
	}

	.nav-item-language:first-child {
		padding: .5rem 0rem;
	}

	.active {
		border-top: solid 1px #ba83f0;
	}

	.blur {
		display: none;
		position: absolute;
		height: 100vh;
		top: 0rem;
		left: 18rem;
		background: none;
		z-index: 10;
		transition: 2s;
	}

	.nav-item:hover {
		border-top: solid 1px #1d1919;
	}
	.nav-item-language:hover {
		border-top: solid 1px #1d1919;
	}

	.search-icon {
		top: 25.5rem;
		width: 35px;
		padding: 1rem .25rem .25rem .75rem;
		margin-bottom: 1rem;
		transition: .25s;
	}

	.search-container {
		visibility: hidden;
		position: relative;
		display: inline-block;
	}

	.search-container input {
		position: absolute;
		top: -20px;
		background: #161515;
		border-radius: 10px;
		max-width: 180px;
	}
	
	#search-input {
		margin-top: 0;
		margin-left: 2.5rem;
		padding: 10px;
		width: 180px;
	}

	#suggestions-list {
		display: none;
		position: absolute;
		z-index: 1;
		top: 30px;
		left: 40px;
		width: 180px;
		background: #161515;
		border: 1px solid #5c5c5c;
		border-radius: 15px;
	}

	#suggestions-list li {
		padding: 10px;
		cursor: pointer;
		border-radius: 15px;
	}

	#suggestions-list li:hover {
		background-color: #896f26;
	}

	.sub-menu {
		display: flex;
		flex-direction: column;
		position: initial;
		/* left: 0; */
		/* top: 110; */
		/* width: 100vw; */
		padding: .25rem 1rem .25rem 1.5rem;
		background: none;
		/* background: #1d1919; */
		align-items: start;
		justify-content: start;
		/* background: #fff; */
		max-width: 250px;
		width: 100%;
	}
	
	.sub-nav-item {
		margin: 0;
		padding: .5rem 0;
	}
	
	.sub-menu a {
		padding: 0 0 0 1rem;
	}
	
	.sub-menu a:hover {
		color: #ddd !important;
	}

	/* ------------------------------------ Main -------------------------------------- */

	main {
		padding: 0;
	}


	/* --------------------- Footer ----------------------- */
	.footer {
		/* margin-top: 2rem; */
		margin-bottom: 3rem;
	}
	
	.we-can-do-it-description a:hover {
		color: #e77754;
	}
	
	.footer-bottom {
		margin-top: 8rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	
	.mention-legales a:hover {
		color: #e77754;
	}
}

@media only screen and (max-width: 800px) {

	.bandeau-contact {
		margin-top: 2.5vh;
	}
}

@media only screen and (max-width: 600px) {

	.bandeau-contact {
		margin-top: 2vh;
	}
}

@media only screen and (max-width: 525px) {
	.global-counter p {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.counter {
		font-size: 3rem;
	}
}
@media only screen and (max-width: 500px) {
	.bandeau-contact {
		margin-top: 1.5vh;
	}
}

@media only screen and (max-width: 400px) {

	/* --------------------- Header ----------------------- */
	.nav {
		margin-bottom: 3rem;
	}

	.img-logo img {
		max-width: 150px;
	}


	/* --------------------- Footer ----------------------- */
	.bandeau-contact {
		margin-top: 1vh;
	}

	.footer-bottom {
		margin-top: 5rem;
	}

	.we-can-do-it-description a {
		font-size: 1rem;
	}

	.mention-legales {
		font-size: .8rem;
	}
}