/* -------------------------------------------------------------------------------- */
/* ------------------------------------- Page ------------------------------------- */
/* -------------------------------------------------------------------------------- */

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
	border-style: border-box;
	list-style : none;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #161515;
	font-family: 'Inter', sans-serif;
}

