/* -------------------------------------------------------------------------------- */
/* ------------------------------------- Page ------------------------------------- */
/* -------------------------------------------------------------------------------- */

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
	border-style: border-box;
	list-style : none;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #161515;
	font-family: 'Inter', sans-serif;
}

/* -------------------------------------------------------------------------------- */
/* ----------------------------------- Nav bar ------------------------------------ */
/* -------------------------------------------------------------------------------- */

.nav {
	display: flex;
	justify-content: center;
	align-items: start;
	margin-bottom: 6rem;
}

.img-logo {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
}

.img-logo img {
	max-width: 175px;
}

.nav-list {
	display: flex;
	justify-content: center;
	align-items: start;
	padding: 2rem 0;
}

.nav-item {
	padding: .5rem 3rem;
	transition: .2s;
	border-top: solid 1px #161515;
}

.nav-item:hover {
	border-top: solid 1px #ba83f0;
}

.nav-item:last-child:hover {
	border-top: solid 1px #161515;
}

.nav-item:last-child {
	padding: 0rem 3rem;
	position: absolute;
	right: 1rem;
}

.nav-item a {
	color: #fff;
	font-size: 1rem;
	font-family: 'Inter', sans-serif;
}

.language {
	display: flex;
	justify-content: center;
	align-items: start;
}

.nav-item-language {
	padding: .5rem 1rem;
	transition: .2s;
	border-top: solid 1px #161515;
}

.nav-item-language:hover {
	border-top: solid 1px #ba83f0;
}

.nav-item-language a {
	color: #fff;
	font-size: 1rem;
}


